.example h1    {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    padding-top: 20px;
    color: blueviolet;
    background-color: antiquewhite;
    
    
}